.cursor-pointer {
    cursor: pointer;
}

/* So that the displayed amount doesn't show in multiple line */
.pos .client-line td.customer-due,
.pos .client-list thead th.customer-due {
    white-space:nowrap;
}

.pos .client-line td.customer-due i.fa {
    padding-left: 5px;
}

.pos .client-line.highlight td.customer-due {
    text-decoration: underline;
}

.client-line-open-link a {
    padding: 0px 10px;
}

.client-line-open-link.highlight a {
    color: white;
}
