.o_appendix_content .o_column_sortable {
    text-align: center !important;
    white-space: normal !important;
    max-width: 60% !important;
}   

.lu-notebook .o_group tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.03);
    input {
        background-color: rgba(0, 0, 0, 0.01);
    }
}
