.o_calendar_container {
    .o_calendar_view .fc-view {
        .fc-bgevent.o_calendar_slot {
            opacity: 1;
        }
    }
    .o_calendar_sidebar_container .o_appointment_appointment_group_buttons .dropdown-toggle:after {
        display: none;
    }
}

.o_appointment_scheduling_message_box {
    box-shadow: 0 1px 6px 1px #017e84;
}
