.o_barcode_lines_header .o_barcode_list_locations .o_list_location_lines {
    list-style-type: none;
    padding: 4px 20px;

    &:hover {
        color: white;
        background-color: $o-enterprise-color;
    }

    &:first-child {
        padding-top: 8px;
    }

    &:last-child {
        padding-bottom: 8px;
    }

    > span {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        direction: rtl;
    }
}
